<header>
    <div id="tohub" style="cursor:pointer;">
        <img src="/static/images/logo.svg" height="80%" style="position: absolute; top: 10%; left: 2.4vh;">
        <h1 class="nospace huge" style="position: absolute; top: 50%; transform: translateY(-50%); font-family: logo; left: 12.05vh;">WhiteSky</h1>
    </div>
    <div style="display:inline-block;color:white;position: absolute;right:4vh;top:50%;transform:translateY(-50%); cursor: pointer;">
        <div class="nospace" style="display:inline-block;position:relative;margin-right:2vh;" id="headercoin">
            <img src="/static/images/SkyCoin.svg" style="height:7.5vh;position:absolute;top:50%;transform:translate(-105%,-50%);">
            <h2 class="coincounter"></h2>
        </div>
        <div class="nospace" style="display:inline-block;">
            <h2 id="logupclick">Login or Signup</h2>
            <h2 id="logoutclick">Logout</h2>
        </div>
    </div>
</header>