<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div style="margin:2vw;width:96vw;padding:0vh;" class="block" id="container">
    <h1>Buy Swag For Your Dinosaur</h1>
    <div style="display: block; height: 2vh; width: 100%;"></div>
</div>
<script src="/static/js/shop.js"></script>
<%- include('../partials/feet') %>